<mat-toolbar color="primary" class="header-container">
  <div>
    <span class="logo">PC</span>
  </div>
  <div class="header-options-container">
    <div class="header-options-container">
      <a href="#inicio">Inicio</a>
      <a href="#construyamosalgojuntos">Construyamos algo juntos</a>
      <a href="https://miguelgomezsa.com/blog" target="_blank" rel="noopener"
        >Blog</a
      >
    </div>
  </div>
  <button (click)="enviarCorreo()" mat-icon-button aria-label="contactame">
    <mat-icon>email</mat-icon>
  </button>
</mat-toolbar>
