<!-- 
  Barra de navegación principal del portafolio.
  Incluye el logo personal, enlaces de navegación internos y externos,
  y un botón de contacto que llama a una función para enviar correo.
-->
<mat-toolbar color="primary" class="header-container">
  <div>
    <span class="logo">PC</span>
  </div>
  <!-- Contenedor de enlaces de navegación -->
  <div class="header-options-container">
    <div class="header-options-container">
      <a href="#inicio">Inicio</a>
      <a href="#construyamosalgojuntos">Construyamos algo juntos</a>
      <a href="https://miguelgomezsa.com/blog" target="_blank" rel="noopener"
        >Blog</a
      >
    </div>
  </div>
  <!-- Botón de contacto que ejecuta la función enviarCorreo() -->
  <button (click)="enviarCorreo()" mat-icon-button aria-label="contactame">
    <mat-icon>email</mat-icon>
  </button>
</mat-toolbar>
