<section id="construyamosalgojuntos" class="about-section">
  <mat-card class="about-card" appearance="outlined">
    <div class="about-content">
      <div class="text-column">
        <h2 class="title">¡Construyamos algo increíble juntos!</h2>
        <h3 class="subtitle">Diseño y desarrollo frontend con creatividad</h3>
        <p>
          Estoy en constante <strong>aprendizaje</strong> y perfeccionando mis
          habilidades en <strong>UI/UX</strong> y
          <strong>desarrollo frontend</strong>. Me encanta enfrentar nuevos
          <strong>retos</strong> y encontrar
          <strong>soluciones creativas</strong> para cada proyecto.
        </p>

        <div class="social-icons">
          <a
            href="https://www.linkedin.com/in/paula-castano-b2a644269/"
            target="_blank"
          >
            <mat-icon aria-label="LinkedIn">linkedin</mat-icon>
          </a>
          <a href="https://github.com/paulacastano" target="_blank">
            <mat-icon aria-label="GitHub">github</mat-icon>
          </a>
        </div>
      </div>

      <div class="image-column">
        <img src="img/desarrollo.jpg" alt="Diseño UI/UX en pantalla" />
      </div>
    </div>
  </mat-card>
</section>
