<section class="about-me">
  <img src="img/pau.jpg" alt="Foto de Paula" class="about-photo" />

  <div class="about-text">
    <h1>Paula Andrea Castaño Mendoza</h1>
    <h2>Estudiante de Desarrollo de Software</h2>
    <p>
      ¡Hola! Soy Paula Andrea Castaño. Estudiante de Desarrollo de software.
      <br /><br />
      Soy apasionada por el diseño y el desarrollo frontend. Actualmente, estoy
      en formación en UI/UX y creando proyectos para mejorar mis habilidades.
      Estoy aprendiendo <strong>HTML</strong>, <strong>CSS</strong>,
      <strong>JAVASCRIPT</strong>, <strong>FIGMA</strong> y herramientas de
      diseño para crear interfaces intuitivas y atractivas.
    </p>
  </div>
</section>
