<img src="img/pau.jpg" alt="foto de perfil" class="imagen-redonda" />
<h2>Paula Andrea Castaño Mendoza</h2>
<p>Estudiante de desarrollo de Sotfware</p>
<p>
  Hola! Soy Paula, una persona proactiva y autodidacta, aporto una mezcla única
  de pasión y al desarrollo y el diseño. Me encanta el rendimiento y mi meta es
  crear diseños limpios.
</p>
<p>
  Me gusta aprender cosas nuevas y siempre estoy buscando mejorar mis
  habilidades. Me encanta trabajar en equipo y creo que la colaboración es la
  clave para el éxito.
</p>

<div class="icons">
  <mat-icon>code</mat-icon>
  <mat-icon>email</mat-icon>
  <mat-icon>person</mat-icon>
</div>
