@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.main-container {
  display: flex;
  height: 100vh;
  background-color: #a3b2ff;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
